{% extends 'base.html.twig' %}

{% block title %}Registrar-se Worldtecpt{% endblock %}

{% block body %}



    <div class="container w-50 mx-auto my-5">
        <h1 class="my-5">Registrar-se</h1>

        {% if notification %}
            <div class="alert alert-success">
                {{ notification }}
            </div>
            <hr>


        {% endif %}
        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword) }}


        <button type="submit" class="btn btn-primary my-5">Registrar-se</button>
        {{ form_end(registrationForm) }}



        <p class="mb-5">
            Já tem uma conta? <a href="{{ path('app_register') }}">Fazer login</a>
        </p>
    </div>




{% endblock %}
