{% set article_show = path('article_show', { 'slug' : article.slug })  %}

<article class="mb-5">
    <div class="row">
        <div class="col-md-{{ leftCol ?? 5 }}">
            {% if article.featuredImage %}
                <a href="{{ article_show }}">
                    <img src="/uploads/{{ article.featuredImage.filename }}" alt="{{ article.featuredImage.altText }}" loading="lazy" width="250" height="auto" class="styled-image">
                </a>
            {% endif %}
        </div>
        <div class="col-md-{{ rightCol ?? 7}}">
            <h2>
                <a class="text-decoration-none fw-bold" href="{{ article_show }}">{{ article.title }}</a>
            </h2>

            <p>
                {{ article.featuredText ?: article.content|striptags|slice(0, 130) ~ '...' }}
            </p>

            <div>
                <img src="{{ asset('build/images/calendar.png') }}" alt="logo calendar">
                <p>
                    {{ article.createdAt|date('d M Y') }}  por Rita Cardoso
                </p>
            </div>

            <p class="fst-italic">
                <span class="comment-count">{{ article.comments|length }}</span> Comentário{% if article.comments|length > 1 %}s{% endif %}
            </p>



        </div>

    </div>
</article>
<hr class="w-75 ms-auto">