{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <article class="container position-relative mb-2 pb-5">
        <h1>{{ article.title }}</h1>

        <img src="/uploads/{{ article.featuredImage.filename }}" alt="{{ article.featuredImage.altText }}" loading="lazy" width="700" height="auto" class="styled-image">

        <p>{{ article.content|raw }}</p>

        <span class="position-absolute bottom-0 end-0">{{ article.createdAt|date('d M Y') }}</span>


        <h2 class="comment-title mt-5">
            <span class="comment-count">{{ article.comments|length }}</span> Comentário{% if article.comments|length > 1 %}s{% endif %}
        </h2>

        <hr>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="comment-area mb-5">
            {{ form(commentForm, {'attr' : {'class': 'comment-form'} }) }}
        </div>


        <div class="comment-list">
            {% for comment in comments %}
                {% include 'comment/index.html.twig' with [comment] %}
            {% endfor %}
        </div>

        {% else %}
        <div class="comment-no-see">
            <p>Por favor, faça login para acessar a seção de comentários</p>
        </div>

        {% endif %}
    </article>

{% endblock %}
